name: test

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    timeout-minutes: 5
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - "debian"
          - "ubuntu"
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Lint
        uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5
        with:
          dockerfile: "${{ matrix.image }}/Dockerfile"
          config: .hadolint.yml
      - name: Build
        env:
          IMAGE: ${{ matrix.image }}
        run: make "$IMAGE"
